.form_item {
  color: red;
}

.error_validation fieldset {
  border-color: red !important;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}

textarea:-moz-placeholder,
input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}

.ant-form-item .ant-input {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.3);
}

.ant-form-item-explain-error {
  display: flex;
  justify-content: flex-start
}

